body{
    background-color: rgb(214, 186, 197);
}
div{
    text-align: center;
    height: 300px;
    font-size: 30;
    width:600px;
    background-color: rgb(158, 121, 121);
    margin-bottom: 2px;
}
.caja1{
    background-color: rgb(236, 220, 228);
    width: 300px;
    height: 300px;
    float: left;
    text-align: justify;
}
.caja2{
    background-color: rgb(136, 86, 111);
    width: 300px;
    height: 300px;
    text-align: justify;  
    float: left;
}
.caja3{
    background-color:rgb(155, 109, 109) ;
    width: 300px;
    height: 300px;
    float: left;
}
section{
    background-color: brown;
    width:200px ;
    height: 150px;
}